{% extends "base.twig" %}

{% block title %}Log in{% endblock %}

{% block body %}

    <h1>Log in</h1>

    <form id="formSignup" action="/login/attempt" method="post">

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" value="{{ email }}">
        </div>

        <div>
            <label for="password">Password</label>
            <input id="password" name="password" placeholder="Password" type="password"
            />
        </div>

        <div>
            <label>
                <input
                        type="checkbox"
                        name="remember_me"
                        id=""
                        {% if remember_me %} checked="checked"{% endif %}
                >Remember me
            </label>
        </div>

        <input type="submit" name="" id="" value="Submit">
    </form>

{% endblock %}