{% extends "base.twig" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <h1>Request password reset</h1>

    <form action="/password/request-reset" method="post">

        <div>
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" placeholder="Email" required autofocus>
        </div>

        <button type="submit">Send password reset email</button>

    </form>

{% endblock %}