{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome</h1>

{% if is_logged_in %}
    <a href="logout">Sign out</a>
{% else %}
    <a href="login">Sign in</a> or <a href="/register/create">Sign up</a>
{% endif %}

{% endblock %}