<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/posts/index">Posts</a>
        <a href="/signup/create>"> Sign up</a>
    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>
