<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if current_user %}
                <li><a href="/profile/show">Profile</a></li>
                <li><a href="/logout">Sign out</a></li>
            {#{% else %}#}
                {#<a href="login">Sign in</a> or <a href="/register/create">Sign up</a>#}
            {% endif %}
        </ul>
    </nav>

    {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
    {% endfor %}

    {% block body %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>

    {% block footer %}
    {% endblock %}
</body>
</html>
